<div class= 'container mt-5'>
  <div class='row'>

  <div class='login-flash-message'>
     <%= flash[:alert] %>
  </div>

    <div class="col-md-8 mx-auto" >
      <h4 class="mx-auto headline mt-2 mb-4">ログイン</h4>
      <p>会員の方はこちらからログイン</p>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
          <div class="form-group row mt-4 justify-content-center">
            <%= f.label :メールアドレス,class:"col-md-3 col-form-label" %>
            <div class="col-md-7">
              <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control" %>
            </div>
          </div>
  
          <div class="form-group row mt-4 justify-content-center">
            <%= f.label :パスワード,class:"col-md-3 col-form-label" %>
            <div class="col-md-7">
              <%= f.password_field :password, autocomplete: "current-password",class:"form-control" %>
            </div>
          </div>
  
          <div class="actions text-center mt-4 mb-2">
            <%= f.submit "ログイン", :class => "btn btn-lg mt-1 btn-success" %>
          </div>
        <% end %>
      <div class="text-center mt-5">
        <h6>会員登録がお済みでない方</h6>
        <h6><%= link_to "こちら", new_registration_path(resource_name) , class:"login-link" %>から新規登録を行なってください。</h6>
      </div>
    </div>
  </div>
</div>
