<nav class="navbar navbar-expand-lg text-center navbar-dark bg-dark">
  <div class="collapse navbar-collapse">
    <% if customer_signed_in? %>
    <div class="row d-flex justify-content-around align-items-center col-md-6 ms-5">
      <div class="navbar navbar-brand">
        <%= link_to root_path do %>
          <%= image_tag 'logo.jpg', size: '70x70' %>
        <% end %>
      </div>
      <h5 style="color: white;">ようこそ、<%= current_customer.last_name %>さん</h5>
    </div>
    <% elsif admin_signed_in? %>
    <div class="row d-flex justify-content-around align-items-center col-md-6 ms-5">
      <div class="navbar navbar-brand">
        <%= link_to root_path do %>
          <%= image_tag 'logo.jpg', size: '70x70' %>
        <% end %>
      </div>
    </div>
    <% else %>
      <div class="navbar navbar-brand ms-5">
        <%= link_to root_path do %>
          <%= image_tag 'logo.jpg', size: '70x70' %>
        <% end %>
        <div></div>
      </div>
    <% end %>
  </div>

  <div class="col-md-6">
    <ul class="navbar-nav mx-auto justify-content-around">
      <% if customer_signed_in? %>
        <li class="nav-item">
          <%= link_to customers_information_path , class: "nav-link text-light" do %>
          マイページ
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to items_path , class: "nav-link text-light" do %>
          商品一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to cart_items_path, class: "nav-link text-light" do %>
          カート
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_customer_session_path, method: :delete, class: "nav-link text-light" do %>
          ログアウト
          <% end %>
        </li>
      <% elsif admin_signed_in? %>
        <li class="nav-item">
          <%= link_to admin_items_path , class: "nav-link text-light" do %>
          商品一覧
          <% end %>
        <li class="nav-item">
          <%= link_to admin_customers_path , class: "nav-link text-light" do %>
          会員一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_path , class: "nav-link text-light" do %>
          注文履歴一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_genres_path, class: "nav-link text-light" do %>
          ジャンル一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-light" do %>
          ログアウト
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to about_path, class: "nav-link text-light" do %>
          About
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to items_path, class: "nav-link text-light" do %>
          商品一覧
          <% end %>
        <li class="nav-item">
          <%= link_to new_customer_registration_path, class: "nav-link text-light" do %>
          新規登録
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_customer_session_path, class: "nav-link text-light" do %>
          ログイン
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>